@use '../../../styles/variables' as *;

.partner_info__list {
  display: flex;
  flex-direction: column;
  gap: 20px;  
  padding: 20px 0;
}
.partner_info__item {
  display: flex;
  height: 45px;
  align-items: center;
  gap: 30px
}

.partner_info__label {
  width: 20%;
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-weight: 400;
  color: $color-perano;
}

.partner_info__input {
  width: 600px;
  min-height: 44px;
  border: none;
  background: none;
  border: 1px solid $color-cloud-burst;
  border-radius: 8px;
  padding: 0 20px;
  font-size: 1.2rem;
  line-height: 2.4rem;
  color: $color-perano;
  }


  [id="formOwnership"] {
    border: none;
  }

  [id="innCode"], [id="kppCode"], [id="ogrnCode"] {
    width: 200px;
  } 

  [id="radioButtons"] {
    display: flex;
    gap: 50px;
  }