@use '../../../styles/variables.scss' as *;

.button_next {
  padding: 5px 14px;
  background-color: $color-blue-violet;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;

  &__reverse {
    transform: rotate(180deg);
  }

  &:hover {
    background-color: darken($color-blue-violet, 10%);
    cursor: pointer;
  }
}