@use '../../../styles/variables.scss' as *;

.button_next {
  padding: 5px 14px;
  background-color: $color-blue-violet;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  cursor: pointer;

  &__reverse {
    transform: rotate(180deg);
  }

  &:hover {
    background-color: $color-medium-orchid;
  }
}

.button_next__disabled {
  // display: none;
  cursor: none;
  }
