@use 'src/styles/variables.scss' as *;

.add_partner {
  background-color: $color-midnight-express;
  height: 100%;
  width: 90%;
}

.add_partner__header {
  display: flex;
  align-items: center;
  background-color: $color-black-russian;
  padding: 0 50px 20px;
}

.add_partner__title {
  font-size: 22px;
  font-weight: 500;
  color: $color-medium-orchid;
  margin: 0 0 0 20px;
  text-align: center;
  flex-grow: 1;
}

.add_partner__buttons {
  display: flex;
  gap: 10px;
}

.add_partner__wrapper {
  padding: 20px 50px;
}

.add_partner__menu {
  display: flex;
  gap: 40px;
  padding: 12px 0;
  margin: 0 0 10px;
  list-style: none;
}

.add_partner__link {
  font-size: 16px;
  font-weight: 500;
  color: $color-perano;
  transition: border-bottom 0.3s ease, color 0.3s ease;

  &:hover {
    border-bottom: 2px solid $color-medium-orchid;
    cursor: pointer;
  }

}

.isActive {
  color: $color-medium-orchid
}