# Порт сервера
PORT=5173

# MongoDB URI
MONGODB_URI=mongodb+srv://nosdm64:ichbeen1964@cluster0.b9enozc.mongodb.net/DN_BASE?retryWrites=true&w=majority&appName=Cluster0

# JWT Secret (для аутентификации)
JWT_SECRET=sedona

# Режим окружения
NODE_ENV=development
