@use '../../../styles/variables.scss' as *;

.action_button {
  padding: 10px 45px;
  margin: 0;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  width: fit-content;
  background: $graient;
  transition: background-color 0.3s ease;

  color: $color-default-white;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2rem;

  display: flex;
  align-items: center;
  gap: 8px;

  transition: opacity 0.3s ease;

  &__transparent {
    background: transparent;
    border: 1px solid $color-cloud-burst;
  }

  &:hover {
    opacity: 0.8;
  }

}