@use '../../../styles/variables.scss' as *;

.user_link {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-rows: repeat(2, auto);
  align-items: center;
  width: 100%;
}

.user_link__img,
.user_link__title,
.user_link__btn  {
  grid-row-start: 1;
  grid-row-end: 2;
}

.user_link__list {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 3;
}

.user_link__title {
   font-size: 1.4rem;
   font-weight: 500;
   line-height: 100%;
   color: $color-perano;
}