@use 'src/styles/variables' as *;

.button {
  display: flex;
  width: fit-content;
  justify-content: space-between;
  color: $color-default-white;
  font-size: 1.6rem;
  padding: 1.5rem 4rem;
  border-radius: 5px;
  background: $graient;

  & img {
    margin-left: 15px;
  }
}